<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa_workcell">
    
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="initial_z" default="0.0"/>   
    
    <link name="world"/>

    <xacro:include filename="$(find ram_support)/urdf/xacros/iiwa_14.xacro"/>
    <xacro:include filename="$(find ram_support)/urdf/xacros/schunk_gripper_pgn_80.xacro"/>
    <xacro:include filename="$(find ram_support)/urdf/xacros/optical_table.xacro"/>
    <xacro:include filename="$(find ram_support)/urdf/xacros/iiwa_14_mounting_plate.xacro"/>
    <xacro:include filename="$(find ram_support)/urdf/xacros/milling_plate.xacro"/>
    <xacro:include filename="$(find ram_support)/urdf/xacros/cutting_plate.xacro"/>
    <xacro:include filename="$(find ram_support)/urdf/xacros/medpor_stock.xacro"/>

    <xacro:arg name="iiwa_name" default="iiwa"/>
    <xacro:arg name="gripper_name" default="gripper"/>
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

    <joint name="optical_table_world_joint" type="fixed">
        <parent link="world"/>
        <child link="optical_table"/>
        <origin xyz="0.0 0.0 0.006" rpy="0.0 0.0 ${pi/2}"/>
    </joint>
    
    <xacro:optical_table />

    <joint name="$(arg iiwa_name)_mounting_plate_base_joint" type="fixed">
        <parent link="optical_table_front_left_bolt"/>
        <child link="$(arg iiwa_name)_mounting_plate_front_left_bolt"/>
        <origin xyz="0.125 0.125 0.00" rpy="0.0 0.0 0"/>
    </joint>

    <xacro:iiwa_14_mounting_plate robot_name="$(arg iiwa_name)"/>

    <joint name="$(arg iiwa_name)_base_joint" type="fixed">
        <parent link="$(arg iiwa_name)_mounting_plate_centre_top_surface"/>
        <child link="$(arg iiwa_name)_link_0"/>
        <origin xyz="0 0 0" rpy="0.0 0.0 ${pi}"/>
    </joint>

    <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg iiwa_name)">
    </xacro:iiwa14>

    <joint name="$(arg iiwa_name)_to_$(arg gripper_name)_joint" type="fixed">
        <parent link="$(arg iiwa_name)_link_ee"/>
        <child link="$(arg gripper_name)_link_iiwa_attachment"/>
        <origin xyz="0 0 0.00" rpy="0 0 -${pi/2}"/>
    </joint>

    <xacro:schunk_gripper hardware_interface="$(arg hardware_interface)" robot_name="$(arg gripper_name)">
    </xacro:schunk_gripper>

<!--    <xacro:implant_grasp_fingers gripper_name="$(arg gripper_name)"/>-->

<!--    <joint name="milling_plate_base_joint" type="fixed">-->
<!--        <parent link="optical_table_back_right_bolt"/>-->
<!--        <child link="milling_plate"/>-->
<!--        <origin xyz="-0.2 -0.2 0.00" rpy="0.0 0.0 0"/>-->
<!--    </joint>-->

<!--    <xacro:milling_plate tool_length="0.005" tool_diameter="0.002"/>-->

    <joint name="cutting_plate_base_joint" type="fixed">
        <parent link="optical_table_front_right_bolt"/>
        <child link="cutting_plate"/>
<!--        <origin xyz="0.0 0.2 0.30" rpy="0.0 -${pi/2} 0"/>-->
        <origin xyz="-0.35 0.2 0.0" rpy="0 0 0"/>
    </joint>

    <xacro:cutting_plate />

    <link name="home_a_implant"/>
    <joint name="home_a_implant_joint" type="fixed">
        <parent link="optical_table_back_left_bolt"/>
        <child link="home_a_implant"/>
        <origin xyz="0.5 -0.2 0.01" rpy="0 0 0"/>
    </joint>

</robot>